/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** Head Banner Starts *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***  */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.inner-banner {
    background: #FAFAFA;
    padding: 120px;
}

.inner-banner-head {
    color: #000;
    font-family: var(--font-DM);
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 69px;
}



/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** Head Banner Ends *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***  */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */