.diagonalSlider {
    position: relative;
    transition: none;
    max-height: 650px;
    height: 650px;

    &::before {
        position: absolute;
        content: "";
        width: 180px;
        height: 180px;
        bottom: -20px;
        right: -20px;
        background: rgba(146, 40, 141, 0.94);
        z-index: -1;
    }

    .diagonalSlider__backgroundImage {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: none;
    }

    .diagonalSlider__backgroundImage-still {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: none;
    }


    .diagonalSlider__slides {
        position: absolute;
        width: 35%;
        bottom: 0;
        right: 0;
        z-index: 20;

        .diagonalSlider__SlideCard {
            .diagonalSlider__SlideCard-img {
                max-width: 100%;
                vertical-align: middle;
                height: auto;
            }

        }
    }
}


.diagonalSlider__control-btn {
    padding-top: 10px;

    .diagonalSlider__button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left-arrow {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 25px;
            top: 50%;
            right: -16px;
            transform: translateY(-50%);
            background-color: #A7A9AC;
        }
    }
}