.diagonal_slider {
    position: relative;
    transition: none;
    min-height: 50rem;

    &::before {
        position: absolute;
        content: "";
        width: 180px;
        height: 180px;
        bottom: -20px;
        right: -20px;
        background: rgba(146, 40, 141, 0.94);
        z-index: -1;
    }

    .diagonal-slider__transition_image,
    .diagonal-slider__current_image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .diagonal-slider__transition_image {
        z-index: 10;
    }

    .diagonal-slider__slide {
        position: absolute;
        z-index: 20;
        bottom: 0;
        right:0;

        img {
            display: block;
        }
    }

}