// Breakpoints
$layout-breakpoint-xxlarge: 1920px;
$layout-breakpoint-xlarge: 1440px;
$layout-breakpoint-large: 1366px;
$layout-breakpoint-lmedium: 1280px;
$layout-breakpoint-medium: 1024px;
$layout-breakpoint-small: 999px;
$layout-breakpoint-xsmall: 767px;

// Colors
$background: #f0eff1;
$white: #fff;
$black: #24242a;