.mike-img {
  position: relative;
  max-width: max-content;
  margin: 0 auto;

  @include double-border;
}

.manage-grid {
  position: relative;

  .big-para {
    font-size: 26px;
    line-height: normal;
    margin: 20px auto 0;
    max-width: 85%;
  }


  .splash-left,
  .splash-right {
    position: absolute;
    top: 5%;
    height: 80%;


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .splash-left {
    left: 0;
  }

  .splash-right {
    right: 0;
  }

}


// Diagonal Slider
.about-slider {
  position: relative;
  transition: none;


  &::before {
    position: absolute;
    content: "";
    width: 180px;
    height: 180px;
    bottom: -20px;
    right: -20px;
    background: rgba(146, 40, 141, 0.94);
    z-index: -1;
  }

  .about-slider__container {
    position: relative;
    overflow: hidden;
    transition: none;
    max-height: 700px;

    .about-slider__background_image {

      .about-slider__slide_image {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    .about-slider__slide_image {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 35%;
      width: 35%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }

}

// trusted by section
.trusted-outer {
  background-color: #F8F8F8;

  .trust-icon {
    max-width: 100px;
    margin: 0 auto;
    padding: 20px 0;
    align-items: center;
    background: #fff;

    img {
      width: 100%;
      display: block;
      margin: 0 auto;
      background: #fff;
      padding: 10px;
      border-radius: 10px;
    }

  }

  .trust-slider {
    .swiper-wrapper {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}