.mike-img {
  position: relative;
  max-width: max-content;
  margin: 0 auto;

  @include double-border;
}

.manage-grid {
  position: relative;

  .big-para {
    font-size: 26px;
    line-height: normal;
    margin: 20px auto 0;
    max-width: 65%;
  }

  .splash-left,
  .splash-right {
    position: absolute;
    top: 5%;
    height: 80%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
      max-width: 150px;
    }
  }

  .splash-left {
    left: 0px;
  }

  .splash-right {
    right: 0px;
  }
}

// trusted by section
.trusted-outer {
  background-color: #f8f8f8;

  .trust-icon {
    margin: 0 auto !important;
    padding: 15px 10px;
    display: inline-block;
    border-radius: 10px;
    align-items: center;
    background: #fff;

    img {
      width: 100%;
      display: block;
      margin: 0 auto;
      background: #fff;
    }
  }

  .trust-slider {
    .swiper-wrapper {
      display: flex;
      align-items: center;
    }
  }
}

// Services section

.service-grid {
  gap: 40px;

  .serv-card {
    width: calc(100% / 3 - 30px);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #d9d9d9;

    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      transition: 0.4s all ease-in-out;
      right: 0;
      bottom: 0px;
      background: #038eb0;
    }

    &::after {
      position: absolute;
      content: "";
      background-image: url(https://img.freepik.com/free-photo/html-css-collage-concept-with-person_23-2150062008.jpg);
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: 0.7s all ease-in;
      opacity: 0;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      pointer-events: none;
      z-index: -1;
    }

    &:hover::after {
      opacity: 1;
    }

    &:hover::before {
      width: 100%;
      height: 100%;
      opacity: 0.8;
    }

    &:hover .serv-img {
      opacity: 0;
    }

    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    &:nth-child(2)::before {
      background-color: #8ec640;
    }

    &:nth-child(3)::before {
      background-color: #92288d;
    }

    &:nth-child(4)::before {
      background-color: #f89520;
    }

    &:nth-child(5)::before {
      background-color: #bc1d8d;
    }

    &:nth-child(6)::before {
      background-color: #ec1f27;
    }

    .serv-img {
      img {
        display: block;
        margin: 0 auto;
        width: 100%;
        object-fit: contain;
      }
    }

    .serv__text {
      padding: 50px 40px 50px;

      
        h3 {
          font-family: Nunito Sans;
          font-size: 22px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-transform: capitalize;
          position: relative;
          max-width: max-content;
          margin-bottom: 25px;
       
          &::before {
            position: absolute;
            content: "";
            bottom: -8px;
            left: 0;
            width: 80%;
            height: 1px;
            background: #515151;
          }

        }

      

      .serv-hide {
        position: absolute;
        bottom: 0;
        height: 0;
        opacity: 0;
        transition: 0.6s all ease-in-out;

        h3 {
          color: #fff;
          
          &::before {
            background: #fff;
          }
        }

        .serv-icon {
          width: 100%;
          max-width: 60px;
        }
      }
    }

    &:hover .serv-content {
      opacity: 0;
    }

    &:hover .serv-hide {
      bottom: 20px;
      height: 380px;
      opacity: 1;
    }

    ul {
      padding: 0px 0 20px 20px;
    }
  }
}

.serv-card li {
  color: #fff;
  margin-bottom: 5px;
  list-style: disc;
}

.service-outer .min-heading {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 15px !important;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 15px !important;
}

.case-study {
  background-color: #fff0dc;
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 99.89%,
    2.5% 99.74%,
    5% 99.29%,
    7.5% 98.57%,
    10% 97.64%,
    12.5% 96.57%,
    15% 95.42%,
    17.5% 94.28%,
    20% 93.23%,
    22.5% 92.35%,
    25% 91.69%,
    27.5% 91.31%,
    30% 91.23%,
    32.5% 91.46%,
    35% 91.97%,
    37.5% 92.74%,
    40% 93.71%,
    42.5% 94.81%,
    45% 95.96%,
    47.5% 97.09%,
    50% 98.1%,
    52.5% 98.94%,
    55% 99.53%,
    57.5% 99.85%,
    60% 99.85%,
    62.5% 99.56%,
    65% 98.98%,
    67.5% 98.16%,
    70% 97.15%,
    72.5% 96.03%,
    75% 94.88%,
    77.5% 93.77%,
    80% 92.79%,
    82.5% 92.01%,
    85% 91.48%,
    87.5% 91.24%,
    90% 91.3%,
    92.5% 91.66%,
    95% 92.31%,
    97.5% 93.18%,
    100% 94.22%
  );

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    object-fit: cover;
  }
}

.case-study-col .growth-img {
  position: relative;
}

.growth-img .team-img {
  position: absolute;
  right: -70px;
  width: auto;
  top: 40%;
}

.growth-img::before {
  position: absolute;
  content: "";
  border: 1px solid #bc1d8d;
  width: 75%;
  height: 90%;
  right: -20px;
  top: -20px;
  z-index: -1;
}

.pink-para {
  background: #fff9fd;
  padding: 15px;
  border-left: 10px solid #bc1d8d;
}

.half-list li {
  width: calc(100% / 2 - 70px);
  margin: 0;
  position: relative;
  padding-left: 28px;
}

.half-list li::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cg transform="rotate(90 12 12)"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cpath d="M24 0v24H0V0zM12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036c-.01-.003-.019 0-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z"%2F%3E%3Cpath fill="%23bc1d8d" d="M12 5a1 1 0 0 1 .707.293l5 5a1 1 0 0 1-1.414 1.414L12 7.414l-4.293 4.293a1 1 0 0 1-1.414-1.414l5-5A1 1 0 0 1 12 5m0 6a1 1 0 0 1 .707.293l5 5a1 1 0 0 1-1.414 1.414L12 13.414l-4.293 4.293a1 1 0 0 1-1.414-1.414l5-5A1 1 0 0 1 12 11"%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  top: 0;
  bottom: 0;
  left: 2px;
  margin: auto;
}

.half-list {
  flex-wrap: wrap;
  gap: 25px 20px;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 20px;
}

// Contact Us
.contact-grid {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 19%,
    rgba(255, 251, 228, 1) -6%
  );

  .cont-text {
    ul {
      padding-left: 24px;

      li {
        color: #000;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 15px;
        list-style: disc;
      }
    }

    .social-cont {
      margin: 80px 0 40px;

      a {
        display: flex;
        margin-bottom: 10px;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        background: #fff;
        padding: 15px;
        max-width: 500px;

        strong {
          width: 100%;
          display: block;
          color: #515151;
          font-size: 24px;
          font-weight: 400;
          line-height: 24px;
          margin-top: 4px;
        }

        img {
          display: block;
          max-width: 28px;
          border: 1px solid #a7a9ac59;
          padding: 8px;
        }

        p {
          line-height: normal;
          color: #515151;
          font-size: 18px;
          font-weight: 300;
          line-height: 24px;
        }
      }
    }
  }

  .home-form {
    form {
      display: flex;
      flex-wrap: wrap;
      gap: 18px 30px;
      justify-content: space-between;
      border-radius: 10px;
      background: #fff;
      padding: 45px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      position: relative;
      z-index: 1;

      &::after {
        position: absolute;
        content: "";
        height: 20.7%;
        pointer-events: none;
        top: 0;
        left: -8px;
        right: 0;
        margin: 0 auto;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        border: 7px solid #e7e7e7;
        border-bottom: 0;
      }

      input,
      select,
      textarea {
        border: 0px;
        border-bottom: 1px solid #a7a9ac;
        padding-bottom: 10px;
        background-color: #fff;
        text-transform: capitalize;
        font-weight: 300;
        outline: none;
      }

      textarea {
        border: 1px solid #b0b0b0;
      }

      input::placeholder,
      select,
      label,
      textarea::placeholder {
        color: #515151;
        font-family: Nunito Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        opacity: 1;
        line-height: normal;
        text-transform: capitalize;
      }

      .checkbox {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        input {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}
