@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700&family=Oooh+Baby&display=swap');

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.wrap-flex {
    flex-wrap: wrap;
}

.container {
    max-width: 1430px;
    margin: 0 auto;
}

.pr60 {
    padding-right: 60px;
}

.pl60 {
    padding-left: 60px;
}

.gap-30 {
    gap: 30px;
}

.gap-20 {
    gap: 20px;
}

.mt50 {
    margin-top: 50px;
}

.mt25 {
    margin-top: 25px;
}

.w-50 {
    width: calc(100% / 2 - 50px);
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

.w-70 {
    width: 70%;
}


.mt25 {
    margin-top: 25px;
}

.just-start {
    justify-content: flex-start;
}

.pad100 {
    padding: 100px 15px;
}

.pb100 {
    padding-bottom: 100px;
}

.navbar .d-flex {
    gap: 50px;
}

.navbar .d-flex li {
    margin: 0px;
    list-style: none;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    text-decoration: none;
}

.navbar ul li:hover a {
    color: #316C7A;
}

.toggle-menu svg {
    display: none;
}

p,
li,
a,
input,
span {
    color: #515151;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 33px;
    text-decoration: none;
    list-style: none;
    transition: 0.6s all ease-in-out;
    outline: none;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #171C24;
    font-weight: 600;
    text-transform: capitalize;
    transition: 0.6s all ease-in-out;
    font-family: 'DM Serif Display', serif;
    margin: 0px;
}

ul {
    padding: 0px;
    margin: 0px;
}

p:not(:last-child),
li:not(:last-child),
h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
h4:not(:last-child),
h5:not(:last-child),
h6:not(:last-child) {
    margin: 0 0 20px;
}

/* *********************************************************************** HEADER **************************************************************************** */

.main-header {
    padding: 20px 15px;
}

.fixed-header {
    position: fixed;
    top: -100px;
    /* Start with the header off-screen */
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 9;
    transition: top 0.3s ease;
    /* Smooth transition for the top property */
}



.defbtn,
.main-header .defbtn {
    border-radius: 100px;
    border: 1px solid #A7A9AC;
    padding: 18px 80px 18px 20px;
    color: #000;
    display: inline-block;
    ;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    text-transform: capitalize;
    background-color: #ffff;
    text-align: left;
    position: relative;
}

.defbtn::after {
    position: absolute;
    content: "\f879";
    background-color: #000;
    width: 40px;
    height: 40px;
    top: 0;
    right: 7px;
    bottom: 0;
    margin: auto;
    border-radius: 50px;
    font-family: "Font Awesome 6 Free";
    color: #ffffff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    transition: .6s all ease-in-out;
    pointer-events: none;
}

.defbtn:hover::after {
    right: 138px;
    content: "\f2a0";
}

.defbtn:hover {
    padding: 18px 20px 18px 80px;
}

.main-header .defbtn:hover::after {
    right: 115px;
}

.banner .defbtn:hover::after {
    right: 210px;
}

.about-outer .defbtn:hover::after {
    right: 237px;
}

.arrow-btn::after {
    background-color: #F89520;
}

/* *********************************************************************** HEADER **************************************************************************** */

/* *********************************************************************** BANNER **************************************************************************** */

.banner-slider {
    background: url(assets/images/banner.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    /* padding: 440px 0px; */
}

.banner-box {
    background-position: center center;
    background-image: url(../image/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 460px 15px 150px;
}

.banner h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 400;
    line-height: 70px;
    max-width: 550px;
    margin: 0 0 25px;
}


 .sub-heading {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    padding-left: 60px;
    margin-bottom: 15px !important;
}

.sub-heading::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 1px;
    background-color: #FFF;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}


.banner {
    position: relative;
}

.social-icon {
    position: absolute;
    top: 40%;
    left: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 0;
    z-index: 1;
}

.social-icon::after,
.social-icon::before {
    position: absolute;
    content: "";
    background-color: #fff;
    height: 220px;
    width: 1px;
    left: 15%;
    bottom: -250px;
    pointer-events: none;
    right: 0;
    /* margin: 0 auto; */
}

.social-icon::before {
    bottom: unset;
    top: -260px;
}

.social-icon a {
    display: block;
    width: 100%;
}

.social-icon a img {
    display: block;
    margin: 0 auto;
}

/* *********************************************************************** BANNER **************************************************************************** */

/********************************************************************* SERVICE SLIDER **************************************************************************/

.mike-img img {
    display: block;
    margin: 0 auto;
}

/* .double-border {
    position: relative;
    color: #171C24;
    max-width: max-content;
    padding: 0px;
    margin: 0 auto 10px !important;
} */
/* .double-border::before {
    left: 0px !important;
    right: -230px;
} */

.mike-img {
    position: relative;
    max-width: max-content;
    margin: 0 auto;
}

.mike-img::after,
.mike-img::before,
.double-border::after,
.double-border::before {
    position: absolute;
    content: "";
    background-color: #A7A9AC;
    height: 1px;
    width: 80px;
    left: -100px;
    bottom: 0;
    top: 0;
    margin: auto;
    pointer-events: none;
}

.mike-img::after {
    left: 140%;
    right: unset;
}

.mike-img::before {
    left: unset;
    right: 140%;
}


.bigheading {
    font-size: 44px;
    font-weight: 400;
    line-height: 50px;
}

.big-para {
    font-size: 40px;
    line-height: normal;
    margin-top: 30px;
}

/* .manage-grid::before,
.manage-grid::after {
    position: absolute;
    content: "";
    background-image: url(../image/multi-color-left.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    animation: shake 0.9s;
    animation-iteration-count: infinite;
} */

/* .manage-grid::after {
    left: unset;
    right: 0px;
    background-image: url(../image/multi-color-right.png);
    background-position: center right;
} */

.brand-col img {
    display: block;
    margin: 0 auto;

}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.manage-grid {
    position: relative;
    overflow: hidden;
}

/* ANIMATION */
.welcome .splash {
    height: 0px;
    padding: 0px;
    border: 130em solid #039be5;
    position: fixed;
    left: 50%;
    top: 100%;
    display: block;
    box-sizing: initial;
    overflow: hidden;

    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
}


/********************************************************************* SERVICES SLIDER **************************************************************************/

/************************************************************************ ABOUT US ******************************************************************************/

.abt-img_big {
    position: relative;
    overflow: hidden;
}

.abt-img_big img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.abt-img_big .short-img {
    position: absolute;
    z-index: 2;
    right: 0px;
    bottom: 0px;
    display: block;
    width: 35%;
}

.sub-hd.sub-heading {
    color: #515151;
}

.sub-hd.sub-heading::before,
.sub-hd.sub-heading::after {
    background-color: #A7A9AC;

}

.cursive-para {
    font-family: Oooh Baby;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 30px 0 0px !important;
}

.cursive-para i {
    color: #1B5A96;
    font-style: normal;
}

.about-slider {
    position: relative;
}

.abt-card h4 {
    font-family: 'Nunito Sans', sans-serif;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.abt-icon {
    display: block;
    margin-bottom: 20px;
}

/************************************************************************* ABOUT US *****************************************************************************/

/************************************************************************* TRUSTED BY: *****************************************************************************/
.trusted-outer{
    background-color: #F8F8F8;
}

.trust-icon{
    max-width: 100px;
    margin: 0 auto;
    padding: 20px 0;
    align-items: center;
}

.trust-icon img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.trust-slider .swiper-wrapper{
    display: flex;
    align-items: center;
}
/************************************************************************* TRUSTED BY: *****************************************************************************/

/************************************************************************* SERVICES CARDS *****************************************************************************/

.serv-card {
    width: calc(100% / 3 - 30px);
    position: relative;
    min-height: 450px;
    min-width: 400px;
    overflow: hidden;
    border: 1px solid #D9D9D9;
}

.serv-card:hover .hd-block {
    opacity: 1;
    bottom: 320px;
    color: #fff;
}

.serv-card::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    transition: 0.4s all ease-in-out;
    right: 0;
    bottom: 0px;
    background: #038EB0;
}

.serv-card:nth-child(2):before {
    background-color: #8EC640;
}

.serv-card:nth-child(3):before {
    background: rgba(146, 40, 141, 0.94);
}

.serv-card:nth-child(4):before {
    background: #F89520;
}

.serv-card:nth-child(5):before {
    background: #BC1D8D;
}

.serv-card:nth-child(6):before {
    background: #EC1F27;
}


.serv-card:hover::before {
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.service-grid {
    gap: 40px;
}

.serv-content h3 {
    font-family: Nunito Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    position: absolute;
    bottom: 170px;
}

.serv-content {
    padding: 55px 40px 30px;
}

.serv-img img {
    display: block;
    margin: 0 auto;
    width: 100%;
    object-fit: contain;
}

.service-outer .text-center {
    max-width: 990px;
    margin: 0 auto;
}

.serv-content ul {
    position: absolute;
    transition: 0.6s all ease-in-out;
    bottom: -270px;
    opacity: 0;
    padding-left: 20px;
}


.serv-card:hover .serv-content ul {
    bottom: 110px;
    opacity: 1;
}

/* .serv-card:hover .serv-content p {
    position: absolute;
    bottom: -200px;
    opacity: 0;
    height: 0;
} */

.serv-card li {
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 10px;
    list-style: disc;
}

.serv-card:hover .defbtn {
    bottom: 50px;
    opacity: 1;
}

.serv-card .defbtn {
    position: absolute;
    bottom: -50px;
    opacity: 0;
}

.serv-icon {
    opacity: 0;
    max-width: 0;
    display: block;
    position: absolute;
    top: 500px;
}

.serv-card:hover .serv-icon {
    top: 30px;
    max-width: max-content;
    opacity: 1;
    transition: 0.6s all ease-in-out;
}

.service-outer .min-heading {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 15px !important;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    padding: 0;
    margin-bottom: 15px !important;
}

.service-outer .min-heading::before{
    position: absolute;
    content: "";
    background-color: #000;
    width: 50px;
    height: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    left:36%;
}

.service-outer .min-heading::after{
    position: absolute;
    content: "";
    background-color: #000;
    width: 50px;
    height: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    right:36%;
}



/* .service-outer .sub-heading {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    padding: 0;
    margin-bottom: 15px !important;
}

.service-outer .sub-heading::before {
    position: absolute;
    content: "";
    background-color: #000;
    width: 50px;
    top: 0;
    bottom: 0;
    left: 36%;
    
} */


/* .service-outer .sub-heading::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
} */


/************************************************************************* SERVICES CARDS *****************************************************************************/

/* *********************************************************************** FOOTER **************************************************************************** */

.main-footer {
    background-color: #316C7A;
}

.ft-link span {
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
}

.footer_social a img {
    padding: 5px;
    border-radius: 10px;
    max-width: 30px;
}

.footer_social a:hover img {
    filter: invert(100);
    background-color: #000000;
}

.footer-bottom .footer_social h3 {
    width: 100%;
}

.footer_social .d-flex {
    justify-content: flex-start;
    gap: 5px;
}


.ft-link span i {
    display: block;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.ft-link img {
    border: 0.5px solid #FFF;
    padding: 8px;
    max-width: 25px;
}

.ft-top_bar {
    max-width: 1200px;
    margin: 0 auto;
}

.main-footer p,
.main-footer a,
.main-footer h3 {
    color: #fff;
}

.ft-para {
    margin-top: 30px !important;
}

.ft-col {
    width: calc(100% / 3 - 30px);
}

.ft_navbar {
    max-width: fit-content;
    max-width: --moz-fit-content;
    padding-right: 60px;
    padding-left: 60px;
}

.footer-bottom {
    margin-top: 70px;
    padding-top: 70px;
    border-top: 1px solid #fff;
}

.footer-bottom h3::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 1px;
    background-color: #ffffff;
    bottom: -8px;
    left: 0;
}

.footer-bottom h3 {
    font-family: Nunito Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    position: relative;
}

.footer-bottom .footer_social h3::before {
    display: none;
}

.footer-bottom li {
    margin-bottom: 5px !important;
}

.footer-contact p,
.footer-bottom li a {
    font-size: 18px;
    line-height: 26px;
}

.copyright-col {
    margin-top: 60px;
    padding-top: 30px;
    border-top: 1px solid #fff;
}

.main-footer {
    padding: 100px 15px 30px;
}

.footer_social h3 {
    position: static;
}

.mail-col {
    border-radius: 10px;
    background: #FFF;
    width: 100%;
    border: 0px;
    padding: 10px;
}

.ft-link:hover img {
    animation: shake 0.9s;
}

footer h3,
footer p {
    margin-bottom: 20px;
}

.copyright-col.d-flex p {
    margin: 0;
}

/* *********************************************************************** FOOTER **************************************************************************** */