.main-header {
    position: relative;
    z-index: 10;
  .navbar {
    .d-flex {
      gap: 50px;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        gap: 5px;
        position: relative;

            svg {
          color: green;
        }

        a {
          font-size: 18px;
          font-weight: 500;
          text-decoration: none;
          padding: 35px 0px;
        }

        .dropdown_menu {
          position: absolute;
          z-index: 40;
          top: 130%;
          left: 0;
          height: auto;
          background-color: #fff;
          box-shadow: 0 3px/ 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);
        //   padding: 10px 0;
          opacity: 0;
          visibility: hidden;
          transition: all 0.1s ease-in-out;
        }

        &:hover {
          .dropdown_menu {
            top: 100%;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
