
.contact__us-main {
    gap: 90px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.contact-para,
.contact-form {
    flex: 0 0 50%;
}

.contact-form {
    border-radius: 10px;
    border: 1px solid rgb(var(--gray-300));

}

.contact-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}

.contact-form form label {
    display: block;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
}

.contact-form form input,
.contact-form form textarea {
    border-radius: 9px;
    border: 1px solid rgb(var(--gray-300));
    width: 100%;
    margin-bottom: 25px;
    padding: 12px 10px;
}

.contact-form form textarea {
    min-height: 150px;
    resize: none;
    margin-bottom: 40px;
}

.contact__us-submit-btn {
    width: 100%;
    text-align: center;
}

.contact-para .sub-heading {
    color: rgb(var(--gray-500));
}

.contact-para .sub-heading::before {
    height: 2px;
    background: #A7A9AC;
}



.contact__us-cta-icon {
    height: 56px;
    width: 56px;
    border: 1px solid rgb(var(--gray-300));
    border-radius: 10px;
    padding: 10px;
    flex-shrink: 0;
}

.contact__us-cta .contact__us-cta-inner {
    display: flex;
    align-items: center;
    border: 1px solid #D9D9D9;
    padding: 30px;
    margin-bottom: 30px;
    min-width: 135px;
}

.contact__us-cta .contact__us-cta-inner h6 {
    flex: 1;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}


.contact__us-cta .contact__us-cta-inner strong,
.contact__us-cta .contact__us-cta-inner strong a {
    font-weight: 600;
    line-height: 26px;
    display: flex;
    flex-direction: column;
}

