.single__blog-section {
  .container {
    gap: 40px;

    .single__blog-card {
      padding: 40px;
      border: 1px solid #d9d9d9;
      flex: 70%;
      cursor: pointer;

      .single__blog-img {
        img {
          width: 100%;
          display: block;
        }
      }
    }
  }
}
